<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产标签添加</title>
</head>
<body>
<form id="addAssetForm" name="addOne" method ="post"  action="../addOneAsset/">
        <p>资产编号：<input id="assetNum" name="assetNum" type="text" /></p>
        <p>资产名称：<input id="assetName" name="assetName" type="text" /></p>
        <p>使用人工号：<input id="empId" name="empId" type="text" /></p>
        <p>使用人姓名：<input id="userName" name="userName" type="text" /></p>
        <p>所属公司：<input id="ownerDept" name="ownerDept" type="text" /></p>
        <p>管理员工号：<input id="adminId" name="adminId" type="text" /></p>
        <p>备注：<input id="tagText" name="tagText" type="text" /></p>
        <p><input id="subLogin"  name ="subLogin" type="submit" value="提交" /></p><!--提交按钮-->
</form>
</body>
</html>